body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif; }

.violetButton {
  background-color: #6542e0;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: 500; }

.sideSpacing {
  padding-left: 20px;
  padding-right: 20px; }

@media screen and (min-width: 1024px) {
  .generalContainer {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto; }
  .violetButton {
    padding: 15px 40px; } }

.indexHeader header {
  background-color: #444b59; }

.indexHeader .headerNav {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 15px;
  padding-top: 15px; }
  .indexHeader .headerNav ul {
    list-style-type: none;
    padding: 0;
    display: none;
    background: transparent; }
    .indexHeader .headerNav ul button {
      background-color: rgba(0, 0, 0, 0);
      color: white;
      font-weight: 400;
      font-size: 0.95rem;
      font-family: 'Poppins', sans-serif;
      padding: 15px 20px;
      border: 1px solid white;
      border-radius: 5px; }
    .indexHeader .headerNav ul li {
      padding: 5px 0; }
      .indexHeader .headerNav ul li a {
        font-weight: 500;
        color: white;
        text-decoration: none;
        font-size: 0.95rem; }

.aboutUsHeader {
  background-image: url(../../assets/img/manos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .aboutUsHeader .header {
    background-color: rgba(101, 66, 224, 0.85);
    padding-top: 20px; }
    .aboutUsHeader .header .findSection {
      background-color: rgba(101, 66, 224, 0.85); }
  .aboutUsHeader .headerNav ul {
    display: none; }
  .aboutUsHeader .aboutUsTitle {
    padding-top: 20px;
    padding-bottom: 40px; }
    .aboutUsHeader .aboutUsTitle h2 {
      font-size: 2.2rem;
      color: white;
      text-align: center;
      font-weight: 600; }

@media screen and (min-width: 1024px) {
  .indexHeader .header {
    position: relative;
    background: #444b59; }
  .indexHeader header {
    z-index: 3;
    position: relative;
    background: transparent; }
    .indexHeader header .headerNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: transparent; }
      .indexHeader header .headerNav ul {
        background: transparent;
        width: 900px;
        display: flex;
        justify-content: space-around;
        align-items: center; } }

.findSection {
  background: #444b59;
  background: linear-gradient(180deg, #444b59 50%, #212630 100%);
  color: white;
  padding: 15px 0;
  min-height: 250px;
  display: flex;
  align-items: center; }
  .findSection h2 {
    font-size: 2rem;
    margin: -40px 0 15px 0; }
    .findSection h2 span {
      font-weight: 300; }
  .findSection .findSectionImg {
    display: none; }

.eventSection {
  color: white;
  background-color: #6542e0;
  padding-top: 40px;
  padding-bottom: 40px; }
  .eventSection .UpcomingBox {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .eventSection .UpcomingBox .locationBox {
      width: 64%; }
      .eventSection .UpcomingBox .locationBox .upcomingText {
        font-size: 0.9rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.6); }
      .eventSection .UpcomingBox .locationBox h5 {
        font-size: 1.2rem;
        margin: 10px 0;
        padding-right: 10px; }
      .eventSection .UpcomingBox .locationBox i {
        color: rgba(255, 255, 255, 0.6); }
      .eventSection .UpcomingBox .locationBox .upcomingLocation {
        font-size: 0.9rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.6); }
    .eventSection .UpcomingBox .dateBox {
      width: 30%;
      border: solid 1px white;
      text-align: center;
      display: block;
      height: auto; }
      .eventSection .UpcomingBox .dateBox .dateBoxDay {
        font-size: 3.1rem;
        font-weight: 700;
        line-height: 1;
        padding-top: 20px;
        display: block; }
      .eventSection .UpcomingBox .dateBox .dateBoxMonth {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 10px; }
      .eventSection .UpcomingBox .dateBox .year {
        background-color: white;
        color: black;
        font-size: 0.9rem; }
  .eventSection .hourBox {
    font-weight: 400;
    padding-top: 30px; }
    .eventSection .hourBox .hourBoxContainer {
      display: flex;
      justify-content: space-between; }
    .eventSection .hourBox .number {
      display: flex;
      flex-direction: column;
      text-align: center; }
    .eventSection .hourBox .joinButton {
      display: none; }
    .eventSection .hourBox span {
      font-size: 1.5rem; }
    .eventSection .hourBox span:last-child {
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.6); }
  .eventSection .joinButton {
    display: block;
    margin: 40px auto 0px auto;
    background-color: white;
    color: #6542e0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 500; }

.joinUsSection {
  text-align: center; }
  .joinUsSection h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center; }
  .joinUsSection .violetLine {
    width: 40px;
    border-bottom: 2px solid #6542e0;
    margin: 0 auto 40px auto; }
  .joinUsSection span {
    font-size: 1.15rem; }
  .joinUsSection i {
    font-size: 1.7rem;
    color: #6542e0;
    margin-right: 15px; }
  .joinUsSection p {
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 50px;
    color: rgba(110, 108, 108, 0.9); }
  .joinUsSection .joinNowButton {
    width: 90px;
    margin: 0 auto 40px auto;
    text-align: center; }

.blogSection .blogContainer h4 {
  font-size: 1.5rem;
  font-weight: 400; }

.blogSection .blogContainer .blogButton {
  background-color: white;
  color: #6542e0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  border: 1px solid #6542e0;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%; }
  .blogSection .blogContainer .blogButton:last-child {
    margin-top: 30px; }

.blogSection .blogContainer .blogBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .blogSection .blogContainer .blogBox .latestNewsImg {
    height: 110px;
    width: 70%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px; }
  .blogSection .blogContainer .blogBox .latestJobsImg {
    height: 110px;
    width: 70%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px; }
  .blogSection .blogContainer .blogBox .blogText {
    width: 100%; }
    .blogSection .blogContainer .blogBox .blogText .blogTitle {
      display: inline-block;
      font-size: 0.8rem;
      margin: 0;
      font-weight: 500;
      line-height: 1.4; }
    .blogSection .blogContainer .blogBox .blogText p {
      font-size: 0.7rem;
      margin-top: 5px;
      color: rgba(110, 108, 108, 0.9); }

.blogSection .blogContainer .lightGreyBackground {
  background-color: #fbfbfb; }

.blogSection .blogContainer .calendar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(221, 220, 220, 0.9);
  padding: 20px; }
  .blogSection .blogContainer .calendar i {
    font-size: 1.5rem;
    color: rgba(156, 156, 156, 0.9); }
  .blogSection .blogContainer .calendar span {
    font-weight: 500;
    font-size: 0.9rem; }

.blogSection .blogContainer .datesContainer {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(221, 220, 220, 0.9); }
  .blogSection .blogContainer .datesContainer .dateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    margin-left: 20px;
    line-height: 1.2; }
    .blogSection .blogContainer .datesContainer .dateContainer span:first-child {
      font-weight: 400;
      font-size: 1rem; }
    .blogSection .blogContainer .datesContainer .dateContainer .dateContainerDay {
      font-size: 1.8rem;
      color: #6542e0;
      font-weight: 600; }
    .blogSection .blogContainer .datesContainer .dateContainer span:last-child {
      font-weight: 400;
      font-size: 1rem;
      color: rgba(110, 108, 108, 0.9); }
  .blogSection .blogContainer .datesContainer .locationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .blogSection .blogContainer .datesContainer .locationContainer span:first-child {
      font-weight: 500;
      font-size: 0.9rem; }
    .blogSection .blogContainer .datesContainer .locationContainer .locationDescription {
      font-weight: 400;
      font-size: 0.8rem;
      color: rgba(110, 108, 108, 0.6); }
    .blogSection .blogContainer .datesContainer .locationContainer i {
      color: rgba(110, 108, 108, 0.6); }
    .blogSection .blogContainer .datesContainer .locationContainer span:last-child {
      color: rgba(41, 40, 40, 0.9);
      font-weight: 400;
      font-size: 0.75rem; }

.readAboutSection .readAboutTransaprencyContainer {
  position: relative;
  margin-top: 50px; }
  .readAboutSection .readAboutTransaprencyContainer .gradiant {
    background-image: linear-gradient(to bottom, transparent 60%, white);
    position: absolute;
    top: 0;
    left: 0;
    height: 240px;
    width: 100%;
    z-index: 1; }
  .readAboutSection .readAboutTransaprencyContainer .readAboutImg {
    position: relative;
    background-image: url(../../assets/img/estuidante.jpg);
    width: 100%;
    height: 240px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0; }

.readAboutSection .readAboutText {
  margin-top: 20px; }
  .readAboutSection .readAboutText span {
    font-size: 1.2rem;
    color: rgba(112, 111, 111, 0.9); }
  .readAboutSection .readAboutText h6 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 10px 0; }
  .readAboutSection .readAboutText p {
    font-size: 0.9rem;
    color: rgba(112, 111, 111, 0.9); }

.communitySection {
  margin-top: 70px; }
  .communitySection .tweet {
    text-align: center;
    line-height: 1.8; }
    .communitySection .tweet i {
      font-size: 2rem;
      color: #6542e0; }
    .communitySection .tweet .tweetText {
      margin-bottom: 0;
      font-size: 1.1rem; }
    .communitySection .tweet .hashtag {
      margin-top: 0;
      font-size: 1.1rem; }
      .communitySection .tweet .hashtag a {
        text-decoration: none;
        color: #6542e0;
        font-weight: 500; }
    .communitySection .tweet .twitterProfile {
      display: flex;
      align-items: center;
      justify-content: center; }
      .communitySection .tweet .twitterProfile img {
        height: 40px;
        width: auto;
        border-radius: 100%;
        margin-right: 20px; }
  .communitySection .communityImages {
    display: flex;
    justify-content: center; }
    .communitySection .communityImages .communityImage {
      margin-top: 40px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 100%; }
      .communitySection .communityImages .communityImage:first-child {
        display: none; }
      .communitySection .communityImages .communityImage:last-child {
        display: none; }
  .communitySection .instagramNav {
    background-color: #6542e0;
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .communitySection .instagramNav a {
      color: white;
      text-decoration: none; }
      .communitySection .instagramNav a i {
        font-size: 1.4rem;
        padding-top: 6px;
        margin-right: 10px; }

footer .newsLetterFooter {
  color: white;
  background: url("../../assets/img/saludando.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center; }
  footer .newsLetterFooter .newsLetterText {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(101, 66, 224, 0.9); }
    footer .newsLetterFooter .newsLetterText span {
      font-size: 1.6rem; }
    footer .newsLetterFooter .newsLetterText p {
      font-size: 0.8rem;
      color: rgba(218, 214, 214, 0.95); }
    footer .newsLetterFooter .newsLetterText .newsLetterInput {
      color: white;
      background: transparent;
      font-family: 'Poppins', sans-serif;
      padding: 10px 50px;
      border-top: none;
      border-left: none;
      border-right: none;
      text-align: center;
      border-bottom: 0.4px solid rgba(156, 156, 156, 0.9);
      margin-top: 20px; }
    footer .newsLetterFooter .newsLetterText ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(175, 174, 174, 0.9);
      opacity: 1;
      /* Firefox */ }
    footer .newsLetterFooter .newsLetterText .subscribeButton {
      background-color: white;
      color: #6542e0;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      padding: 10px 30px;
      border: none;
      border-radius: 5px;
      font-weight: 500;
      display: block;
      margin: 20px auto; }

footer .footerNav {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  border-bottom: rgba(156, 156, 156, 0.9) 1px solid;
  margin-right: 20px;
  margin-left: 20px; }
  footer .footerNav .footerNavCategory {
    display: flex;
    flex-direction: column; }
    footer .footerNav .footerNavCategory span {
      font-size: 0.9rem;
      font-weight: 600; }
    footer .footerNav .footerNavCategory a {
      text-decoration: none;
      color: rgba(88, 88, 88, 0.9);
      font-size: 0.85rem;
      margin: 5px 0; }

footer .terminsFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer .terminsFooter span {
    font-size: 0.7rem;
    color: rgba(105, 103, 103, 0.9); }
  footer .terminsFooter a {
    color: rgba(92, 89, 89, 0.9);
    font-size: 1.2rem;
    margin-left: 7px; }

footer .violetLine {
  border-bottom: 15px solid #6542e0;
  height: 15px;
  width: 100%; }

@media screen and (min-width: 768px) {
  .findSection {
    padding-bottom: 0;
    display: block;
    padding-top: 50px; }
    .findSection h2 {
      font-size: 2.5rem;
      margin-bottom: 30px;
      width: 350px; }
    .findSection .findSectionFlex {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .findSection .findSectionImg {
      display: inline-block;
      height: 500px;
      width: 400px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
  .eventSection .UpcomingBox {
    justify-content: center; }
    .eventSection .UpcomingBox .locationBox {
      width: 300px; }
    .eventSection .UpcomingBox .dateBox {
      width: 150px; }
  .eventSection .hourBox {
    justify-content: center; }
    .eventSection .hourBox .number {
      margin-left: 20px;
      margin-right: 20px; }
  .joinUsSection .joinUsArticles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 30px; }
  .blogSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px; }
    .blogSection .blogContainer {
      width: 350px; }
  .readAboutSection {
    text-align: center; }
    .readAboutSection .readAboutTransaprencyContainer .gradiant {
      background-image: linear-gradient(to bottom, transparent 60%, #f3f2f2); }
    .readAboutSection .readAboutText {
      background-color: #f3f2f2;
      margin-top: 0;
      padding-top: 20px;
      padding-bottom: 20px; }
  footer .footerNav {
    display: flex;
    justify-content: space-between; } }

@media screen and (min-width: 1024px) {
  .findSection {
    padding-bottom: 130px;
    padding-top: 180px;
    z-index: 1;
    position: relative; }
    .findSection h2 {
      font-size: 4rem;
      width: 600px; }
    .findSection .findSectionFlex {
      display: flex; }
      .findSection .findSectionFlex .findSectionImg {
        height: 700px;
        width: 600px;
        background-size: cover;
        position: absolute;
        right: 320px;
        top: -140px;
        z-index: 1; }
  .eventSection {
    display: flex;
    padding-right: 260px;
    padding-top: 0;
    padding-bottom: 0; }
    .eventSection .eventSectionImg {
      width: 800px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    .eventSection .eventContainer {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      padding-top: 100px;
      padding-left: 60px;
      width: calc((100% - 800px) - ((100% - 1400px) / 2));
      height: auto;
      padding-bottom: 100px; }
      .eventSection .eventContainer .UpcomingBox {
        justify-content: space-between;
        padding: 0; }
        .eventSection .eventContainer .UpcomingBox .locationBox {
          width: auto; }
          .eventSection .eventContainer .UpcomingBox .locationBox span {
            font-size: 1.2rem; }
            .eventSection .eventContainer .UpcomingBox .locationBox span:last-child {
              font-size: 0.9rem; }
          .eventSection .eventContainer .UpcomingBox .locationBox h5 {
            font-size: 2.5rem; }
      .eventSection .eventContainer .hourBox {
        width: 100%;
        padding: 60px 0 0 0;
        display: flex;
        justify-content: space-between; }
        .eventSection .eventContainer .hourBox .hourBoxTwoPoint {
          padding-top: 15px;
          margin-right: 30px; }
        .eventSection .eventContainer .hourBox .number {
          margin-right: 30px;
          margin-left: 0; }
          .eventSection .eventContainer .hourBox .number span {
            font-size: 1.1rem;
            font-weight: 400; }
          .eventSection .eventContainer .hourBox .number .hourNumber {
            font-size: 3.2rem; }
        .eventSection .eventContainer .hourBox .joinButton {
          display: block;
          margin: auto 0;
          padding: 15px 50px; }
      .eventSection .eventContainer .joinButton {
        display: none; }
  .joinUsSection {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(250, 249, 249, 0.95); }
    .joinUsSection .joinUsArticles {
      display: flex;
      text-align: left; }
      .joinUsSection .joinUsArticles span {
        font-weight: 500; }
      .joinUsSection .joinUsArticles i {
        display: block;
        margin-bottom: 20px;
        margin-top: 40px; }
  .blogSection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 100px; }
    .blogSection .blogContainer {
      width: 100%; }
      .blogSection .blogContainer h4 {
        margin: 0;
        padding-bottom: 20px; }
      .blogSection .blogContainer .blogButton {
        margin: 0; }
        .blogSection .blogContainer .blogButton:last-child {
          margin: 0; }
      .blogSection .blogContainer .calendarContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; }
      .blogSection .blogContainer:last-child {
        display: flex;
        flex-direction: column; }
  .readAboutSection {
    display: flex;
    background-color: rgba(250, 249, 249, 0.95); }
    .readAboutSection .readAboutTransaprencyContainer {
      margin-top: 0; }
      .readAboutSection .readAboutTransaprencyContainer .readAboutImg {
        height: 600px;
        width: 800px;
        background-size: cover; }
      .readAboutSection .readAboutTransaprencyContainer .gradiant {
        left: 0;
        top: 0;
        height: 600px;
        width: 800px;
        background-image: linear-gradient(to right, transparent 50%, rgba(250, 249, 249, 0.95)); }
    .readAboutSection .readAboutText {
      display: flex;
      text-align: left;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      width: calc((100% - 800px) - ((100% - 1400px) / 2));
      background-color: rgba(250, 249, 249, 0.95); }
      .readAboutSection .readAboutText span {
        font-size: 1.4rem; }
      .readAboutSection .readAboutText h6 {
        font-size: 2.5rem;
        font-weight: 400; }
      .readAboutSection .readAboutText p {
        font-size: 1rem;
        margin-bottom: 60px; }
  .communitySection .tweet {
    margin: 50px auto;
    width: 800px; }
    .communitySection .tweet .tweetText {
      font-size: 1.4rem; }
    .communitySection .tweet .hashtag {
      font-size: 1.2rem; }
    .communitySection .tweet .twitterProfile {
      font-size: 1.1rem; }
      .communitySection .tweet .twitterProfile img {
        height: 55px; }
  .communitySection .communityImages {
    overflow: hidden;
    justify-content: space-between; }
    .communitySection .communityImages .communityImage {
      height: 250px;
      width: 700px; }
      .communitySection .communityImages .communityImage:first-child {
        display: block;
        width: 300px;
        background-position: right; }
      .communitySection .communityImages .communityImage:last-child {
        display: block;
        width: 300px;
        background-position: left; }
  footer .newsLetterFooter .newsLetterText {
    padding-bottom: 120px;
    padding-top: 120px; }
    footer .newsLetterFooter .newsLetterText span {
      font-size: 2.2rem; }
    footer .newsLetterFooter .newsLetterText p {
      font-size: 1rem; }
    footer .newsLetterFooter .newsLetterText input {
      width: 330px;
      font-size: 1.1rem; }
    footer .newsLetterFooter .newsLetterText .subscribeButton {
      padding: 15px 50px; }
  footer .footerNav {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px; }
  footer .terminsFooter span {
    font-size: 0.85rem; }
  footer .terminsFooter .footerSocialMedia a {
    font-size: 1.4rem; } }

.aboutUsInfoSection p {
  font-size: 0.9rem;
  font-weight: 500; }

.servicesSection {
  padding-bottom: 50px;
  padding-top: 50px; }
  .servicesSection .servicesImg {
    display: none; }
  .servicesSection .servicesContainer h4 {
    font-size: 1.5rem;
    font-weight: 500; }
  .servicesSection .servicesContainer .servicesCategories {
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(201, 201, 201, 0.5) 2px solid; }
    .servicesSection .servicesContainer .servicesCategories span {
      color: rgba(190, 188, 188, 0.5); }
    .servicesSection .servicesContainer .servicesCategories .activeCategory {
      border-bottom: #6542e0 2px solid;
      color: #6542e0;
      padding-bottom: 10px;
      margin-bottom: -2px; }
  .servicesSection .serviceInformation {
    display: none; }
    .servicesSection .serviceInformation .serviceDescription {
      font-size: 0.9rem;
      font-weight: 500;
      padding-top: 15px;
      padding-bottom: 15px; }
    .servicesSection .serviceInformation .serviceOptions {
      font-size: 0.9rem;
      font-weight: 500; }
      .servicesSection .serviceInformation .serviceOptions ul {
        padding-left: 0; }
        .servicesSection .serviceInformation .serviceOptions ul li {
          background-image: url(../../assets/img/bullet.svg);
          list-style: none;
          background-repeat: no-repeat;
          padding-left: 35px;
          background-position: 3px center;
          margin-bottom: 10px; }

.roadMapSection {
  background-color: rgba(247, 247, 247, 0.9);
  padding-top: 70px;
  padding-bottom: 70px; }
  .roadMapSection h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0; }
  .roadMapSection p {
    color: rgba(107, 107, 107, 0.9);
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 30px; }
  .roadMapSection .roadMapContainer {
    display: flex;
    justify-content: center;
    height: 500px; }
    .roadMapSection .roadMapContainer .roadMapTitles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%; }
      .roadMapSection .roadMapContainer .roadMapTitles span {
        font-size: 0.95rem;
        font-weight: 500; }
    .roadMapSection .roadMapContainer .roadMapLine {
      width: 5px;
      background-color: #6542e0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px;
      align-items: center; }
      .roadMapSection .roadMapContainer .roadMapLine .roadMapCircle {
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background-color: rgba(170, 169, 169, 0.9);
        border: 3px solid rgba(247, 247, 247, 0.9); }
    .roadMapSection .roadMapContainer .roadMapDates {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%; }
      .roadMapSection .roadMapContainer .roadMapDates span {
        color: rgba(107, 107, 107, 0.9);
        font-size: 0.85rem; }

.connectingSection {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .connectingSection h4 {
    font-size: 1.4rem;
    font-weight: 400; }
  .connectingSection p {
    font-size: 0.9rem;
    color: rgba(151, 148, 148, 0.9); }
  .connectingSection img {
    width: 100%; }
