.aboutUsInfoSection {
  p {
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 20px;
  }
}

.servicesSection {
  padding-bottom: 50px;
  padding-top: 50px;

  .servicesImg {
    display: none;
  }

  .servicesContainer {
    h4 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .servicesCategories {
      display: flex;
      justify-content: space-between;
      border-bottom: rgba(201, 201, 201, 0.5) 2px solid;
      
      span {
        color: rgba(70, 70, 70, 0.5);
      }

      .activeCategory {
        border-bottom: map-get($colors, 'violet') 2px solid;
        color: map-get($colors, 'violet');
        padding-bottom: 10px;
        margin-bottom: -2px;
      }
    }
    
  }

  .serviceInformation {
    display: none;

    .serviceDescription {
      font-size: 0.9rem;
      font-weight: 500;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  
    .serviceOptions {
      font-size: 0.9rem;
      font-weight: 500;
  
      ul {
        padding-left: 0;
  
        li {
          background-image: url(../../assets/img/bullet.svg);
          list-style: none;
          background-repeat: no-repeat;
          padding-left: 35px;
          background-position: 3px center;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.roadMapSection {
  background-color: rgba(247, 247, 247, 0.9);
  padding-top: 70px;
  padding-bottom: 70px;

  h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
  }

  p {
    color: rgba(107, 107, 107, 0.9);
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 30px;
  }

  .roadMapContainer {
    display: flex;
    justify-content: center;
    height: 500px;

    .roadMapTitles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%;

      span {
        font-size: 0.95rem;
        font-weight: 500;
      }
    }

    .roadMapLine {
      width: 5px;
      background-color: map-get($colors, 'violet');
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px;
      align-items: center;
      

      

      .roadMapCircle {
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background-color: rgba(170, 169, 169, 0.9);
        border: 3px solid rgba(247, 247, 247, 0.9);
      }
    }

    .roadMapDates {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%;

      span {
        color: rgba(107, 107, 107, 0.9);
        font-size: 0.85rem;
      }
    }
  }
}

.connectingSection {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  h4 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  p {
    font-size: 0.9rem;
    color: rgba(151, 148, 148, 0.9);
  }

  img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .servicesSection {
    .servicesContainer {
      .servicesCategories {
        width: 50%;

        span {
          cursor: pointer;
        }
      }
    }
  }

  .roadMapSection {
    .roadMapContainer {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: auto;

      .roadMapTitles {
        flex-direction: row;
        text-align: center;
        width: 100%;

        span {
          width: 15%;
        }
      }

      .roadMapLine {
        flex-direction: row;
        height: 5px;
        width: 90%;
        margin: 30px 0 30px 0;
      }

      .roadMapDates {
        flex-direction: row;
        width: 95%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .aboutUsInfoSection {
    max-width: 800px;
    margin: 30px auto 30px auto;
    
    p {
      font-size: 0.95rem;
    }
  }

  .servicesSection {
    .generalContainer {
      display: flex;
      justify-content: space-between;
    }

    .servicesContainer {
      width: 50%;

      h4 {
        font-size: 1.8rem;
        font-weight: 400;
      }

      .serviceInformation {
        .serviceOptions {
          ul {
            li {
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    .servicesImg {
      display: inline-block;
      width: 45%;
      height: 450px;
      background-image: url(../../assets/img/sonriendo.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }


  }

  .roadMapSection {
    h4 {
      font-size: 1.7rem;
      margin-top: 0;
    }

    p {
      max-width: 700px;
      display: block;
      margin: 30px auto 30px auto;
      line-height: 2;
    }

    .roadMapContainer {
      .roadMapTitles {
        span {
          font-size: 1rem;
        }
      }

      .roadMapDates {
        span {
          font-size: 0.9rem;
        }
      }
    }
  }

  .connectingSection {
    h4 {
      font-size: 1.8rem;
      margin-bottom: 0px;
    }

    p {
      max-width: 700px;
      margin: 30px auto 30px auto;
      line-height: 2;
    }

    img {
      width: auto;
      height: 600px;
    }
  }
}