header {
  background-color: map-get($colors, 'grey');
}

.headerNav {
  background-color:rgba(0, 0, 0, 0);
  padding-bottom: 15px;
  padding-top: 15px;
    ul {
      list-style-type: none;
      padding: 0;
      display: none;

      button {
        background-color:rgba(0, 0, 0, 0);
        color: white;
        font-weight: 400;
        font-size: 0.95rem;
        font-family: 'Poppins', sans-serif;
        padding: 15px 20px;
        border: 1px solid white;
        border-radius: 5px;
      }

      li {
        padding: 5px 0;

        a {
          font-weight: 500;
          color: white;
          text-decoration: none;
          font-size: 0.95rem;
        }
      }

      
    }
}