.indexHeader {
  header {
    background-color: map-get($colors, 'grey');
  }
  
  .headerNav {
    background-color:rgba(0, 0, 0, 0);
    padding-bottom: 15px;
    padding-top: 15px;

      ul {
        list-style-type: none;
        padding: 0;
        display: none;
        background: transparent;
  
        button {
          background-color:rgba(0, 0, 0, 0);
          color: white;
          font-weight: 400;
          font-size: 0.95rem;
          font-family: 'Poppins', sans-serif;
          padding: 15px 20px;
          border: 1px solid white;
          border-radius: 5px;
        }
  
        li {
          padding: 5px 0;
  
          a {
            font-weight: 500;
            color: white;
            text-decoration: none;
            font-size: 0.95rem;
          }
        }
  
        
      }
  }
  
}

.aboutUsHeader {
  background-image: url(../../assets/img/manos.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .header {
    background-color: rgba(101, 66, 224, 0.85);
    padding-top: 20px;

    .findSection {
      background-color: rgba(101, 66, 224, 0.85);
    }
  }

  .headerNav {
      ul {
        display: none;
      }
  }

  .aboutUsTitle {
    padding-top: 20px;
    padding-bottom: 40px;

    h2 {
      font-size: 2.2rem;
      color: white;
      text-align: center;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 768px) {
  .aboutUsHeader {
    .aboutUsTitle {
      padding-bottom: 100px;
      padding-top: 100px;

      h2 {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .indexHeader {
    .header {
      position: relative;
      background: rgb(68,75,89);
    }
  
    header {
      z-index: 3;
      position: relative;
      background: transparent;
  
      .headerNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
  
        ul {
          background: transparent;
          width: 900px;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }

  .aboutUsHeader {
      header {
        z-index: 3;
        position: relative;
        background: transparent;
        color: white;
    
        .headerNav {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: transparent;
    
          ul {
            background: transparent;
            width: 900px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;

            .currentPage {
              border-bottom: white 2px solid;
              padding-bottom: 5px;
            }

            a {
              color: white;
              text-decoration: none;
            }

            .joinUsButton {
              background-color: transparent;
              border: 1px solid white;
              color: white;
              padding: 15px 40px;
              border-radius: 5px;
              font-family: 'Poppins', sans-serif;
              font-size: 1rem;
              font-weight: 400;
            }
          }
        }
      }
      
      .aboutUsTitle {
        padding-top: 150px;
        padding-bottom: 150px;
      }
  }
}